.clocks__single-clock-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clocks__single-clock {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 6px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.seconds-clock-hand {
  position: absolute;
  width: 2px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.minutes-clock-hand {
  position: absolute;
  width: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.hours-clock-hand {
  position: absolute;
  width: 6px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.white-part {
  background-color: transparent;
  flex-grow: 1;
}

.black-part {
  background-color: #000000;
  flex-grow: 1;
}

.timezone-name {
  font-family: Anta;
  font-size: 30px;
}